
*{
  margin:0;
  padding:0;
  
  box-sizing: border-box;
}

.heroimage{
  display: flex;
  position: relative;
  height: 854px;
    background: linear-gradient(to bottom, rgba(224, 222, 247, 1), rgba(224, 222, 247, 0));
}
.image{
  position: absolute;
  right: 0;
 z-index: 1;
 
}
